DobruskyCapitalLLC.MVC/.vs/
DobruskyCapitalLLC.MVC/DobruskyCapitalLLC.MVC/bin/Debug
DobruskyCapitalLLC.MVC/DobruskyCapitalLLC.MVC/bin/Release
DobruskyCapitalLLC.MVC/DobruskyCapitalLLC.MVC/obj/
/DobruskyCapitalLLC.MVC/DobruskyCapitalLLC.MVC/appsettings.json
