html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Calibri', Arial, Helvetica, sans-serif;
}

.indicator-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.indicator-row:nth-child(even) {
    flex-direction: row-reverse;
}

.indicator-image {
    width: 50%;
    max-width: 300px;
    height: auto;
}

.indicator-description {
    width: 45%;
}

#navbar {
    margin-bottom: 0px !important;
    padding: 0px 10% 0px 10%;
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
}

#navbar .navbar-collapse, #navbar .navbar-brand {
    font-weight: 550;
}

#navbar.scrolled-navbar {
    background-color: rgba(33, 37, 41, 1) !important;
    border-bottom: 1px solid rgba(246, 134, 51, 1) !important;
}

.landing-section {
    height: 100vh; /* Make section full height of the viewport */
    background-size: cover; /* Cover the full section */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Parallax effect */
    position: relative; /* For overlay positioning */
    background-image: url('../images/tradingsetup.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-section a {
    margin-top: 5vh;
}

.landing-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Black overlay with 50% opacity */
}

.container {
    position: relative; /* Ensure text and button are above the overlay */
    z-index: 1; /* Above the ::before pseudo-element */
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    .indicator-row {
        flex-direction: column;
        text-align: center;
    }

    #navbar {
        padding: 0px 15px 0px 15px;
    }

    #navbar .navbar-collapse {
        font-size: 16px;
    }

    .indicator-image, .indicator-description {
        width: 100%;
    }
}

